.dream-interpreter {
  width: 600px;
  text-align: center;
  margin: auto;
}

.symbol-text-field {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.chip-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
}
